.place__title {
    font-weight: 900;
}

@media screen and (max-width:767px) {
    .place__title {
        font-size: 10vw;
        line-height: 10.937vw;
        margin: 15.625vw 5vw 0 5vw;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .place__title {
        font-size: 5.468vw;
        line-height: 5.989vw;
        margin: 0 0 0 3.125vw;
        letter-spacing: 1px;
        width: 44.27vw;
        padding-top: 0;
    }
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .place__title {
        font-size: 7.031vw;
        line-height: 7.421vw;
        width: 42.968vw;
        margin: 0 3.125vw 0 4.687vw;
    }
}

@media screen and (min-width:1280px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
        width: 460px;
        margin-top: 80px;
        margin-left: calc((100vw - 984px) / 2);
        margin-bottom: 48px;
    }
}
