.lead__subtitle {
    text-align: center;
    font-weight: 400;
}

@media screen and (max-width:767px) {
    .lead__subtitle {
        font-size: 5vw;
        line-height: 6.25vw;
        margin: 5vw 5vw 12.5vw 5vw;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .lead__subtitle {
        font-size: 3.9vw;
        line-height: 4.687vw;
        margin: 4.166vw 8.333vw 7.291vw 8.333vw;
    }
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .lead__subtitle {
        font-size: 2.929vw;
        line-height: 3.515vw;
        margin: 3.125vw 18.75vw 5.468vw 18.75vw;
    }
}

@media screen and (min-width:1280px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin-top: 32px;
        margin-bottom: 64px;
        margin-left: calc((100vw - 640px) / 2);
        margin-right: calc((100vw - 640px) / 2);
        width: 640px;
    }
}
